**THER IS FIRST QUESTION ANSWERE**

In [6]:
import pandas as pd

In [7]:
import numpy as np

In [8]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [13]:
df = pd.read_html(url,header = 0)

<b>THAT IS MY LAST ANSWERE AND MY DATA FRAME</b>

In [33]:
df1 = df[0]
df2 = df1[df1['Borough']!='Not assigned']
df3 = pd.DataFrame(df2, index=np.arange(0,104))
df3.dropna(axis=0,inplace=True)
df3.set_index(np.arange(69),inplace=True)
df3

,Postal Code,Borough,Neighbourhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
64,M9N,York,Weston
65,M1P,Scarborough,"Dorset Park, Wexford Heights, Scarborough Town..."
66,M2P,North York,York Mills West
67,M4P,Central Toronto,Davisville North
68,M5P,Central Toronto,"Forest Hill North & West, Forest Hill Road Park"

<h2>code below show that there is no NaN value for this column</h2>

In [34]:
df3[df3['Neighbourhood'] == 'Not assigned']

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

<h1>that last line</h1>

In [35]:
df3.shape

(69, 3)